*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  width: 100%;
  display: flex;
}
.cartshop{
  justify-self: end;
}


ul{
  display: flex;
  justify-content: space-around
}

li{
  list-style: none;
}

.navitem{
margin-left: 1rem;
}

